<!DOCTYPE html>
<html>
  <head>
    <title>the-mcculloughs.org | 1925 – <%= Date.current.year %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.png" type="image/png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white min-h-screen">
    <%= yield %>
  </body>
</html>
